[submodule "vendor/arduino-LoRa"]
	path = vendor/arduino-LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa.git
[submodule "vendor/Arduino-MPU6050"]
	path = vendor/Arduino-MPU6050
	url = https://github.com/jarzebski/Arduino-MPU6050.git
